.hello{
    color: yellowgreen;
    .world{
        color: white;
        box-shadow: 2rem 2rem;


        background-color: lightblue;
        animation-name: example;
        animation-duration: 10s;

        @keyframes example {
            from {background-color: lightblue;}
            to {background-color: lightgreen;}
        }
        
    }
}

.success_message{

    background: rgba($color: limegreen, $alpha: 0.1);
    color: limegreen;
    border: .2rem solid limegreen;
    width: 10rem;
    padding: 1rem;
    border-radius: .5rem;
    
}

.items{

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;

    .item_wrapper{

        width: auto;
        margin: 1rem;
        padding: 2rem;

        .item{
        
            .buttons_wrapper{
                text-align: right;
            }
        
            .attribute_wrapper{
                border: .1rem solid lightgray;
                padding: 1rem;
                width: 90%;
                height: auto;
                border-radius: .5rem;
            }
        }

    }

}

