
.message{

    background: rgba($color: grey, $alpha: 0.1);
    color: grey;
    border: .1rem solid grey;
    width: 10rem;
    padding: 1rem;
    border-radius: .5rem;
    
}

.items{

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;

    .item_wrapper{

        width: auto;
        margin: 1rem;
        padding: 2rem;

        .item{
        
            .buttons_wrapper{
                text-align: right;
            }
        
            .attribute_wrapper{
                border: .1rem solid lightgray;
                padding: 1rem;
                width: 90%;
                height: auto;
                border-radius: .5rem;
            }
        
        }

    }

}

.loader_wrapper{
    background: rgba($color: grey, $alpha: 0.8);
    border-radius: 1rem;
    padding: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    div{

        color: white;
        width: 100%;
        height: 100%;
        
    }
}



